@using DotnetTraining.Models
@model Student
@{
    ViewData["Title"] = "Create Student";
}

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Sửa bài viết</strong>
                    </div>

                    <div class="card-body card-block">
                        <form action="~/student/Create" method="post" enctype="multipart/form-data" class="form-horizontal">
                            @Html.AntiForgeryToken()
                            <div class="card-body card-block">

                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                                <input type="hidden" value="@Model.Id" name="Id" />
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Name</label></div>
                                    <div class="col-12 col-md-9"><input type="text" id="text-input" name="Name" value="@Model.Name" placeholder="" class="form-control"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        @Html.LabelFor(model => model.Class)
                                    </div>
                                    <div class="col-12 col-md-9">
                                        @Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Class, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="fa fa-dot-circle-o"></i> Submit
                                </button>
                                <button type="button" class="btn btn-danger btn-sm">
                                    <i class="fa fa-ban"></i> Reset
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>